# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pygame/Game specific
main
*.spec
reference/

# IDEs
.idea/
.vscode/
.DS_Store

# Tiled
*.tmx.user
*.tsx.user
